.ad
  :javascript
    google_ad_client = "pub-7941320190288826";
    google_ad_slot = "9697936443";
    google_ad_width = 550;
    google_ad_height = 15;
  = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'
