.error, .notice, .success　{
  
  border: 1px solid #CCCCCC;
  font-weight: bold;
  margin: 0 0 1em;
  
  p {
    padding: 1px;
    }
    
  }

.error, .notice, .success {
  border: 1px solid #CCCCCC;
  font-weight: bold;
  margin: 0 0 1em;
  p {
    padding: 1em;
    margin: 0;
    font-size: 12px;
    }
  }

.success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #264409;
  }

.error {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #8A1F11;
  }

.notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #514721;
  }
  
