#container {
  width: 860px;
  margin: 0 auto;
  #main {

    #content {
      float: left;
      width: 550px;
      padding: 20px;
      }

    #side {
      float: right;
      width: 250px;
      padding: 10px;
      }

    }
  }
  
  