#side {
  font-size: 12px;
  h3, h4 {
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    }
  h3 {
    font-size: 14px;
    }
  h4 {
    font-size: 12px;
    }
    
  .section {
    margin-bottom: 10px;
    
    }
    
    .profile {
      margin-bottom: 10px;
      .user-icon {
        display: block;
        float: left;
        }
      .user-login {
        display: block;
        margin-left: 55px;
        font-size: 15px;
        font-weight: bold;
        }
      }
    #follow-nanasi3 {
      margin-bottom: 10px;
      }
    
  .box {
    padding: 8px;
    border: 1px solid #AAA;
    @include border-radius(5px,5px,5px,5px);
    background: white;
    }
  .ad {
    }
    
  }