#side {
  
  h3, h4 {
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    }
  h3 {
    font-size: 14px;
    }
  h4 {
    font-size: 12px;
    }
    
  .section {
    margin-bottom: 10px;

    p {
      font-size: 12px;
      }
    
    }
  .box {
    padding: 8px;
    border: 1px solid #AAA;
    @include border-radius(5px,5px,5px,5px);
    background: white;
    }
  .ad {
    }
    
  }