#status-update-box {
  
  .count.positive { color: #999; }
  .count.negative { color: red; }
  
  h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    }
  
  fieldset {
    position: relative;
    // margin-bottom: 1em;
    .count {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 18px;
      font-weight: bold;
      }
    p.box {
      margin-bottom: 0.5em;
      text-align: right;
      }
    }
  
  textarea#status_text {
    @include box-sizing;
    width: 100%;
    @include border-radius(3px,3px,3px,3px);
    border: 1px solid #AAAAAA;
    padding: 4px 2px;
    }
  
  }

#status-list-box {
  h2 {
    color: red;
    font-weight: bold;
    font-size: 20px;
    }
  .statuses {
    
    li.status {
      position: relative;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      
      .thumb {
        display: block;
        width: 50px;
        position: absolute;
        top: 10px;
        left: 0px;
        }
      
      .status-body {
        display: block;
        margin-left: 56px;
        }
      
      .status-content {
        font-size: 13px;
        strong {
          font-size: 14px;
          font-weight: bold;
          color: green;
          display: block;
          }
        }
        
      .status-meta {
        display: block;
        text-align: right;
        margin-left: 56px;
        font-size: 11px;
        color: #999;
        .topsy_widget_data {
          float: left;
          }
        }
      
      }
    li.status.mine {
      background: #f1fcfd;
      }
    }
    
    .ad {
      margin-top: 10px;
      background: white;
      }
    
    #pagination {
      margin-top: .8em;
      a#more {
        display: block;
        background: #EEE;
        padding: 10px;
        text-align: center;
        @include border-radius(6px,6px,6px,6px);
        }
      }
    
  }