@import "mixin";
@import "reset";
@import "hack";
@import "layout";
@import "flash";
@import "header";
@import "statuses";

body {
  background: #EEE;
  }

#main {

  #content {
    background: white;
    }

  #side {
    background: #ccc;
    }
  }
