@import "mixin";
@import "reset";
@import "hack";
@import "layout";
@import "flash";
@import "header";
@import "side";
@import "statuses";

body {
  background: #EEE;
  }

#main {
  background: #ccc;
  #content {
    background: white;
    }

  #side {
    background: #ccc;
    }
  }

#footer {
  margin-bottom: 10px;
  padding: 6px 10px;
  @include border-radius(0px,0px,3px,3px);
  background: #121212;
  color: #333;
  text-align: center;
  font-size: 12px;
  }