html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup, sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

.clearfix {
  zoom: 100%; }
  .clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both; }

#container {
  width: 860px;
  margin: 0 auto; }
  #container #main #content {
    float: left;
    width: 550px;
    padding: 20px; }
  #container #main #side {
    float: right;
    width: 250px;
    padding: 10px; }

.error, .notice, .success　 {
  border: 1px solid #CCCCCC;
  font-weight: bold;
  margin: 0 0 1em; }
  .error p, .notice p, .success　 p {
    padding: 1px; }

.error, .notice, .success {
  border: 1px solid #CCCCCC;
  font-weight: bold;
  margin: 0 0 1em; }
  .error p, .notice p, .success p {
    padding: 1em;
    margin: 0;
    font-size: 12px; }

.success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #264409; }

.error {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #8A1F11; }

.notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #514721; }

#header {
  padding-top: 10px; }
  #header h1 {
    margin-left: 20px;
    margin-bottom: 10px; }
    #header h1 span.title {
      font-size: 35px;
      font-weight: bold;
      display: block; }
    #header h1 span.subtitle {
      font-size: 15px;
      display: block; }
  #header ul#nav {
    margin-left: 5px; }
    #header ul#nav li {
      float: left;
      margin-right: 0.5em;
      background: black;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
      #header ul#nav li a {
        display: block;
        padding: 5px 15px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none; }
        #header ul#nav li a:hover {
          color: #CCC; }

#side h3, #side h4 {
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: bold;
  color: #191919; }
#side h3 {
  font-size: 14px; }
#side h4 {
  font-size: 12px; }
#side .section {
  margin-bottom: 10px; }
  #side .section p {
    font-size: 12px; }
#side .box {
  padding: 8px;
  border: 1px solid #AAA;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white; }

#status-update-box .count.positive {
  color: #999; }
#status-update-box .count.negative {
  color: red; }
#status-update-box h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333; }
#status-update-box fieldset {
  position: relative; }
  #status-update-box fieldset .count {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    font-weight: bold; }
  #status-update-box fieldset p.box {
    margin-bottom: 0.5em;
    text-align: right; }
#status-update-box textarea#status_text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #AAAAAA;
  padding: 4px 2px; }

#status-list-box h2 {
  color: red;
  font-weight: bold;
  font-size: 20px; }
#status-list-box .statuses li.status {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #ccc; }
  #status-list-box .statuses li.status .thumb {
    display: block;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 0px; }
  #status-list-box .statuses li.status .status-body {
    display: block;
    margin-left: 56px; }
  #status-list-box .statuses li.status .status-content {
    font-size: 13px; }
    #status-list-box .statuses li.status .status-content strong {
      font-size: 14px;
      font-weight: bold;
      color: green;
      display: block; }
  #status-list-box .statuses li.status .status-meta {
    display: block;
    text-align: right;
    margin-left: 56px;
    font-size: 11px;
    color: #999; }
    #status-list-box .statuses li.status .status-meta .topsy_widget_data {
      float: left; }
#status-list-box .statuses li.status.mine {
  background: #f1fcfd; }
#status-list-box .ad {
  margin-top: 10px;
  background: white; }
#status-list-box #pagination {
  margin-top: .8em; }
  #status-list-box #pagination a#more {
    display: block;
    background: #EEE;
    padding: 10px;
    text-align: center;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; }

body {
  background: #EEE; }

#main {
  background: #ccc; }
  #main #content {
    background: white; }
  #main #side {
    background: #ccc; }

#footer {
  margin-bottom: 10px;
  padding: 6px 10px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #666; }
