= will_paginate @messages
/ begin Messages Section
.messagesSection
  %h3 これまでの内緒つぶやき
  %ul
    - for message in @messages
      %li
        =h message.body
        = "#{distance_of_time_in_words_to_now message.created_at} ago"
        [RT]
/ end Messages Section
= will_paginate @messages

