.adsense
  %h4 広告
  :javascript
     google_ad_client = "pub-7941320190288826";
     google_ad_slot = "6943591828";
     google_ad_width = 250;
     google_ad_height = 250;
  = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'

.section
  %h4 名無しアカウントをフォローしよう！
  
.section
  %h4 ＠名無しさんの最近のつぶやき
  
.section
  %h4 ＠名無しさんの人気のつぶやき


  
= yield(:side)
